@{
    Layout = null;
}


<div id="calendar-body">
        <div id="input" class="article">
            <h3><span>Request a guid :)</span></h3>
            <h6><i>Check in ---> Check out</i></h6>
            <input type="text" class="input-calendar" />
            <div class="box"></div>
            <div class="tag price">$ @Model</div>
            <p></p>
        </div>
</div>




