@{
    Layout = null;
}


<div id="calendar-body">
    <div id="wrapperCalendar">
        <div id="input" class="article">
            <h3><span>Non-working days</span></h3>
            <h4>Complete the days that you want to rest <strong>:)</strong></h4>
            <h6>We really encourage you to rest</h6>
            <input type="text" class="input-calendar"/>
            <div class="box"></div>
            <p></p>
        </div>
    </div>
</div>



